h1, h2, h3, h4, h5, h6{
	margin-top: 2px;
	margin-bottom: 5px;
	color: #FFFFFF;
}

.center-block{
	margin: 0 auto;
	display:block;
}

.img-responsive{
	max-width: 100%;
}

.release{
	background-color: #990A00;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.release h2{
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	
}

.blockbaster{
	background-color: #990A00;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.blockbaster h2{
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.overlay{
	position: absolute;
	background-color: rgba(0,0,0,0.70);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-content{
	background-color: #990A00;
	
}